/* app css stylesheet */

/**{
    margin: 0;
    padding: 0;
  }*/

h1{
    font-family: 'Quicksand', sans-serif;

    /*
    font-family: 'Dosis', sans-serif;
    */
}
p{
    /*
    font-family: 'Dosis', sans-serif;
    */
    font-family: 'Quicksand', sans-serif;

    font-size: 18px;
}
  .tm-logo{
   float: left;
    height: 80px;
  }

  .tm-nav{
    float: right;
  }

  .tm-header{
      background-color: white;
  }

  .tm-header::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
  }

  .tm-nav ul li{
    display: inline-block;
  }

  .tm-nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    line-height: 60px;
    font-size: 22px;
    font-family: 'Dosis', sans-serif;

  }

  .tm-nav ul li a:hover{
      color: #FAA91A;
  }

  body{
    background-color: #f4f7fc;
  }

  .firstContainerStyle{
    padding: 200px 0px 0px 50px;
  }

  .firstHeading{
      font-size: 44px;
  }
  .secondHeading{
      font-size: 32px;
  }
  .container img{
    max-width: 100%;
  }

  .imagePerson{
      float: right;
      height: 700px;
  }

  .firstContainer{
    background-color: #f4f7fc;
  }


 .tm-container{
     font-family: 'Open Sans', sans-serif;
     max-width: 1200px;
     margin: 0 auto;
 }

 .headingContainer{
     font-family: 'Open Sans', sans-serif;
     text-align: center;
     padding: 0;
 }

 .card-body{
     background:#f1dfe5;
 }

 .card-img-top{
     height: 250px;
 }

 .card-footer{
     background-color: #f1dfe5;
     margin: 0;
     padding: 0;
 }

 .button-class{
     width: 100%;
     background-color: #3890f4;
     border-color: #109E86;
     padding: 10px 30px 10px 30px;
 }

 .button-class:hover{
     background-color: #f1dfe5;
     color: #109E86;
     border-color: #109E86;
 }

.contactContainer {
    margin:0 auto;
    display:flex;
}
.contactContainer1 {
    margin:0 auto;
    display:block;
}
.container .box {
    position:relative;
    box-sizing:border-box;
    text-align:center;
    margin-bottom: 10px;
    overflow:hidden;
    border-radius:4px;
 }
.container .box .icon {
    max-width:100%;
    height:100%;
    background-color: #efefef;
    transition: 0.5s;
}
.container .box .icon .fa {
    font-size: 4em;
    line-height:100px;
    color: #109E86;
}
.container .box:hover .icon {
    transform:scale(0);
}
.container .box .details {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#109E86;
    transition:0.5s;
    transform:scale(2);
    opacity:0;
}
.container .box:hover .details {
    transform:scale(1);
    opacity:1;
}
.container .box .details h3 {
    margin:0;
    padding:0;
    line-height:100px;
    font-size:24px;
    color: black;
}
.container .box .details:nth-child(2) .details {
    background:#e91e63;
}
.container .box .details:nth-child(2) .details {
    background:#607d8b;
}

 .clearfix::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
 }
 .tm-footer{
    background-color: #efefef;
    color: #109E86;
    text-align: center;
    padding: 20px;
  }



.pc-container {
    position: relative;
    width: 100%;
}

.pc-border {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
}

.pc-circle {
    position: relative;
    margin-top: -90%;
    margin-left: 10%;
    width: 80%;
    padding-top: 80%;
    border-radius: 100%;
}

.pc-percent {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill-circle{
    margin-bottom: 12px;

}


a {
    text-decoration: none;
}

/*h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}*/

.card {
    width: 50%;
    border: none;
    background: none;
}
.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
    content: '';
    display: table;
}
.card .menu-content::after {
    clear: both;
}
.card .menu-content li {
    display: inline-block;
}
.card .menu-content a {
    color: #fff;
}
.card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans';
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.card .wrapper {
    background-color: #fff;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(calc(70px + 1em));
    transform: translateY(calc(70px + 1em));
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}
.card .author {
    font-size: 12px;
}
.card .title {
    margin-top: 10px;
}
.card .text {
    height: 70px;
    margin: 0;
}
.card input[type='checkbox'] {
    display: none;
}
.card input[type='checkbox']:checked + .menu-content {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
}


/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-loading .slick-list {
    background: white url(components/images/ajax-loader.gif) center center no-repeat;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
}
.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
.slick-slide img {
    display: block;
}
.slick-slide img.slick-loading {
    background: white url(components/images/ajax-loader.gif) center center no-repeat;
    padding-bottom: 100%;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

/* Icons */
@font-face {
    font-family: "slick";
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}
.slick-prev:focus,
.slick-next:focus {
    outline: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: black;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}
.slick-prev:before {
    content: '\2190';
}

.slick-next {
    right: -25px;
}
.slick-next:before {
    content: '\2192';
}

/* Dots */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    padding: 0px;
    cursor: pointer;
}
.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\2022';
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
}

.carousel-image{
    height: 300px;
}
.content {
    width: 90%;
    margin: auto;
}

.blue, html {
    background: #f4f7fc;
    color: #fff;
}
.blue h3, html h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
    border: 1px solid #999;
}

/* Dots */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    padding: 0px;
    cursor: pointer;
}
.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\2022';
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
}


