/* app css stylesheet */

/**{
    margin: 0;
    padding: 0;
  }*/

  .tm-logo{
   float: left;
    height: 80px;
  }

  .tm-nav{
    float: right;
  }

  .tm-header{
      background-color: white;
  }

  .tm-header::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
  }

  .tm-nav ul li{
    display: inline-block;
  }

  .tm-nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    line-height: 60px;
    font-size: 22px;

  }

  .tm-nav ul li a:hover{
      color: #FAA91A;
  }

  body{
    background-color: #f4f7fc;
  }

  .firstContainerStyle{
    padding: 200px 0px 0px 50px;
  }

  .firstHeading{
      font-size: 44px;
  }
  .secondHeading{
      font-size: 32px;
  }
  .container img{
    max-width: 100%;
  }

  .imagePerson{
      float: right;
      height: 700px;
  }

  .firstContainer{
    background-color: #f4f7fc;
  }


 .tm-container{
     font-family: 'Open Sans', sans-serif;
     max-width: 1200px;
     margin: 0 auto;
 }

 .headingContainer{
     font-family: 'Open Sans', sans-serif;
     text-align: center;
     padding: 0;
 }

 .card-body{
     background:#f1dfe5;
 }

 .card-img-top{
     height: 250px;
 }

 .card-footer{
     background-color: #f1dfe5;
     margin: 0;
     padding: 0;
 }

 .button-class{
     width: 100%;
     background-color: #3890f4;
     border-color: #109E86;
     padding: 10px 30px 10px 30px;
 }

 .button-class:hover{
     background-color: #f1dfe5;
     color: #109E86;
     border-color: #109E86;
 }

.contactContainer {
    margin:0 auto;
    display:flex;
}
.contactContainer1 {
    margin:0 auto;
    display:block;
}
.container .box {
    position:relative;
    box-sizing:border-box;
    text-align:center;
    margin-bottom: 10px;
    overflow:hidden;
    border-radius:4px;
 }
.container .box .icon {
    max-width:100%;
    height:100%;
    background-color: #efefef;
    transition: 0.5s;
}
.container .box .icon .fa {
    font-size: 4em;
    line-height:100px;
    color: #109E86;
}
.container .box:hover .icon {
    transform:scale(0);
}
.container .box .details {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#109E86;
    transition:0.5s;
    transform:scale(2);
    opacity:0;
}
.container .box:hover .details {
    transform:scale(1);
    opacity:1;
}
.container .box .details h3 {
    margin:0;
    padding:0;
    line-height:100px;
    font-size:24px;
    color: black;
}
.container .box .details:nth-child(2) .details {
    background:#e91e63;
}
.container .box .details:nth-child(2) .details {
    background:#607d8b;
}

 .clearfix::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
 }
 .tm-footer{
    background-color: #efefef;
    color: #109E86;
    text-align: center;
    padding: 20px;
  }



.pc-container {
    position: relative;
    width: 100%;
}

.pc-border {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
}

.pc-circle {
    position: relative;
    margin-top: -90%;
    margin-left: 10%;
    width: 80%;
    padding-top: 80%;
    border-radius: 100%;
}

.pc-percent {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill-circle{
    margin-bottom: 12px;

}


a {
    text-decoration: none;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.card {
    width: 50%;
    border: none;
    background: none;
}
.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
    content: '';
    display: table;
}
.card .menu-content::after {
    clear: both;
}
.card .menu-content li {
    display: inline-block;
}
.card .menu-content a {
    color: #fff;
}
.card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans';
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.card .wrapper {
    background-color: #fff;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(calc(70px + 1em));
    transform: translateY(calc(70px + 1em));
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}
.card .author {
    font-size: 12px;
}
.card .title {
    margin-top: 10px;
}
.card .text {
    height: 70px;
    margin: 0;
}
.card input[type='checkbox'] {
    display: none;
}
.card input[type='checkbox']:checked + .menu-content {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
}


