/* app css stylesheet */

/**{
    margin: 0;
    padding: 0;
    !*
    font-family: 'Source Sans Pro', sans-serif;
    *!

  }*/

  .tm-logo{
   float: left;
    height: 80px;
  }

  .tm-nav{
    float: right;
  }

  .tm-header{
      background-color: white;
  }

  .tm-header::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
  }

  .tm-nav ul li{
    display: inline-block;
  }

  .tm-nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    line-height: 60px;
    font-size: 22px;

  }

  .tm-nav ul li a:hover{
      color: #FAA91A;
  }

  body{
    background-color: #f4f7fc;
  }

  .firstContainerStyle{
    padding: 200px 0px 0px 50px;
  }

  .firstHeading{
      font-size: 44px;
  }
  .secondHeading{
      font-size: 32px;
  }
  .container img{
    max-width: 100%;
  }

  .imagePerson{
      float: right;
      height: 700px;
  }

  .firstContainer{
    background-color: #f4f7fc;
  }


 .tm-container{
     font-family: 'Open Sans', sans-serif;
     max-width: 1200px;
     margin: 0 auto;
 }

 .headingContainer{
     font-family: 'Open Sans', sans-serif;
   text-align: center;
   padding: 0;
 }

 .card-body{
     /*
     background:#f4f7fc;
     */
     background:#f1dfe5;
 }

 .card-img-top{
     height: 250px;
 }

 .card-footer{
  background-color: #f1dfe5;
     margin: 0;
     padding: 0;
 }

 .button-class{
   width: 100%;
     background-color: #3890f4;
     border-color: #109E86;
   padding: 10px 30px 10px 30px;
 }

 .button-class:hover{
 background-color: #f1dfe5;
     color: #109E86;
     border-color: #109E86;
 }

.contactContainer {
    margin:0 auto;
    display:flex;
}
.contactContainer1 {
    margin:0 auto;
    display:block;
}
.container .box {
    position:relative;
    box-sizing:border-box;
    text-align:center;
    /*background:#00171d;*/
    overflow:hidden;
    border-radius:4px;
    /*box-shadow:0 0 0 2px rgba(0,7,10,1);*/
}
.container .box .icon {
    max-width:100%;
    height:100%;
    background-color: #f1dfe5;

    /*
    background:#109E86;
    */
    transition: 0.5s;
}
.container .box .icon .fa {
    font-size: 4em;
    line-height:100px;
    /*color: #0ff;*/
    color: #109E86;
}
.container .box:hover .icon {
    transform:scale(0);
}
.container .box .details {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /*background:#03a9f4;*/
    /*
    background:#FAA91A;
    */
    background:#109E86;

    transition:0.5s;
    transform:scale(2);
    opacity:0;
}
.container .box:hover .details {
    transform:scale(1);
    opacity:1;
}
.container .box .details h3 {
    margin:0;
    padding:0;
    line-height:100px;
    font-size:24px;
    color: black;
}
.container .box .details:nth-child(2) .details {
    background:#e91e63;
}
.container .box .details:nth-child(2) .details {
    background:#607d8b;
}

 /*.containerDivs{
    padding: 5px 5px 5px 5px;
    background-color: white;
    text-align: justify;
    box-shadow: 0px 0px 5px 2px wheat;
 }

 .containerDivs1{
    padding: 5px 5px 5px 5px;
    background-color: white;
    text-align: justify;
    box-shadow: 0px 0px 5px 2px wheat;
 }

 .containerDivs2{
    padding: 5px 5px 5px 5px;
    background-color: white;
    text-align: justify;
    box-shadow: 0px 0px 5px 2px wheat;
  }*/

 .clearfix::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
 }
 .tm-footer{
    background-color: #efefef;
    color: #109E86;
    text-align: center;
    padding: 20px;
  }