<div ng-controller="homeCtrl">
    <div class="container firstContainer">

        <!--
        <img class="img-responsive imagePerson" src="components/images/sakshi.JPG">
-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="firstContainerStyle">
                    <p class="firstHeading">Hi, I am John</p><br/>
                    <p class="secondHeading"><em><u>Professional Industrial Designer</u></em></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <img class="img-responsive imagePerson" src="components/images/1.JPG">
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    <br/>
    <br/>
    <div class="container headingContainer">
        <h1>My Work</h1>
    </div>
    <br/>
    <div class="container secondContainer">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="components/images/1.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text" style="text-align: center">
                        <button class="btn btn-primary button-class">View</button></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="components/images/2.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text" style="text-align: center">
                        <button class="btn btn-primary button-class">View</button></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="components/images/3.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text" style="text-align: center">
                        <button class="btn btn-primary button-class">View</button></p>
                </div>
            </div>
        </div>
        <br/>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="components/images/11.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text" style="text-align: center">
                        <button class="btn btn-primary button-class">View</button></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="components/images/12.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text" style="text-align: center">
                        <button class="btn btn-primary button-class">View</button></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="components/images/13.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text" style="text-align: center">
                        <button class="btn btn-primary button-class">View</button></p>
                </div>
            </div>
        </div>
        <br/>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="components/images/17.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text" style="text-align: center">
                        <button class="btn btn-primary button-class">View</button></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="components/images/9.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text" style="text-align: center">
                        <button class="btn btn-primary button-class">View</button></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="components/images/21.JPG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <p class="card-text" style="text-align: center">
                        <button class="btn btn-primary button-class">View</button></p>
                </div>
            </div>
        </div>


    </div>
    <br/>
    <br/>
    <div class="container headingContainer .hidden-sm-down.hidden-xl-up">
        <h1>Contact Me</h1>
        <div class="contactContainer1">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class='details'><h3>India</h3></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class='details'><h3>+91 9033446195</h3></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class='details'><h3>info@gmail.com</h3></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container headingContainer ">
        <h1>Contact Me</h1>
        <div class="contactContainer hidden-xs-down hidden-sm-down">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class='details'><h3>India</h3></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class='details'><h3>+91 9033446195</h3></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class='details'><h3>info@gmail.com</h3></div>
                </div>
            </div>
        </div>
    </div>

</div>