<style>
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        height: 1px;
        border-top: 1px solid rgba(0,0,0,.1);
    }
</style>
<div ng-controller="productCtrl">
        <div class="container firstContainer">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="firstContainerStyle">
                        <p class="firstHeading">Hi, I am John</p><br/>
                        <p class="secondHeading"><em><u>Professional Industrial Designer</u></em></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                    <img class="img-responsive imagePerson" src="components/images/1.JPG">
<!--
                    <img class="img-responsive imagePerson" src="components/images/sakshi.JPG">
-->

                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <br/>
        <br/>

        <div class="container about-me-container">
            <hr>
            <h1 style="font-family: 'Dosis', sans-serif;">My Work</h1>
            <div class="about-me">
                <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <br/>
        <br/>

    <div class="container skill-container">
        <hr>
        <h1>Skills</h1>
        <br/>
        <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <br/>
        <div class="row">
            <div class="col-xs-3 class-sm-3 col-md-3 col-lg-3 skill-circle">
                <div class="col-md-6">
                    <percent-circle percent="20"></percent-circle>
                </div>
            </div>
            <div class="col-xs-3 class-sm-3 col-md-3 class-sm-3 col-lg-3 skill-circle">
                <div class="col-md-6">
                    <percent-circle percent="30"></percent-circle>
                </div>
            </div>
            <div class="col-xs-3 class-sm-3 col-md-3 class-sm-3 col-lg-3 skill-circle">
                <div class="col-md-6">
                    <percent-circle percent="40"></percent-circle>
                </div>
            </div>
            <div class="col-xs-3 class-sm-3 col-md-3 class-sm-3 col-lg-3 skill-circle">
                <div class="col-md-6">
                    <percent-circle percent="50"></percent-circle>
                </div>
            </div>
        </div>

    </div>
    <br/>
    <div style="clear: both"></div>

    <div class="container images-container">
        <hr>
        <h1>My Projects</h1>
        <br/>

        <div  class="blue">
        <div class="content">
            <br/>
            <div class="slider responsive">
                <div>
                    <img class="img-responsive carousel-image" src="components/images/1.JPG">
                </div>
                <div>
                    <img class="img-responsive carousel-image" src="components/images/2.JPG">
                </div>
                <div>
                    <img class="img-responsive carousel-image" src="components/images/3.JPG">
                </div>
                <div>
                    <img class="img-responsive carousel-image" src="components/images/4.JPG">
                </div>
                <div>
                    <img class="img-responsive carousel-image" src="components/images/5.JPG">
                </div>
                <div>
                    <img class="img-responsive carousel-image" src="components/images/6.JPG">
                </div>
                <div>
                    <img class="img-responsive carousel-image" src="components/images/7.JPG">
                </div>
                <div>
                    <img class="img-responsive carousel-image" src="components/images/8.JPG">
                </div>
                <div>
                    <img class="img-responsive carousel-image" src="components/images/9.JPG">
                </div>
                <div>
                    <img class="img-responsive carousel-image" src="components/images/10.JPG">
                </div>

            </div>
        </div>
        <br/>
    </div>
</div>
    <br/>
    <br/>
    <! hiding the container for screens above md-->
    <div class="container d-md-none">
        <hr>
        <h1>Contact Me</h1>
        <div class="contactContainer1">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class='details'><h3>India</h3></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class='details'><h3>+91 9033446195</h3></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class='details'><h3>info@gmail.com</h3></div>
                </div>
            </div>
        </div>
    </div>
    <! hiding the container for screens smaller than md-->
    <div class="container d-none d-md-block">
        <hr>
        <h1>Contact Me</h1>
        <div class="contactContainer">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class='details'><h3>India</h3></div>
                </div>
            </div>
            <br/>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class='details'><h3>+91 9033446195</h3></div>
                </div>
            </div>
            <br/>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class='details'><h3>info@gmail.com</h3></div>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <br/>
    <br/>
</div>

<script>
    $(document).ready(function() {

        $('.responsive').slick({
            // dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 5,
            slidesToScroll: 1,
            autoplay: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 1,
                    // centerMode: true,

                }

            }, {
                breakpoint: 800,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 2,
                    dots: true,
                    infinite: true,

                }


            }, {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    dots: false,
                    infinite: true,

                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    dots: false,
                    infinite: true,
                    autoplay: true,
                    autoplaySpeed: 2000,
                }
            }]
        });


    });
</script>
